@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Rubik:wght@300&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: 'Red Rose';
  overflow-x: hidden;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  background: rgba(64, 64, 64, 0.3) !important;
}
.ReactModal__Content.ReactModal__Content--after-open {
  border-radius: 16px !important;
}


@media (max-width: 768px) {
  .footerBorder {
    border-top: 1px solid #b4b4b4;
    content: '';
    position: absolute;
    width: 100%;
    left: 0%;
    top: 0;
    right: 0;
    left: 0;
    display: block;
  }
  .showcaseGrid {
    display: block !important;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    justify-items: center;
  }
  .showcaseGrid img {
    width: 100% !important;
  }
  .ReactModal__Content.ReactModal__Content--after-open {
    width: 93% !important;
  }
}