.navbtnConnect {
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border-radius: 10px;
  padding: 15px 26px;
  color: #fff;
  font-size: 16px;
  line-height: 19.98px;
  font-family: 'Red Rose';
}
.navbtnConnect_mob {
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.45%);
  border-radius: 10px;
  padding: 15px 26px;
  color: #fff;
  font-size: 16px;
  line-height: 19.98px;
  font-family: 'Red Rose';
}
.footerBorder {
  display: none;
}

@media (max-width: 768px) {
  .navbtnConnect {
    position: absolute;
    top: 9%;
    left: 5%;
    padding: 10px 25px !important;
    font-size: 12px;
  }
  .searchInput {
    width: 66% !important;
  }
  .searchLabel {
    padding: 17px 30px !important;
  }
  .showcaseGrid {
    display: block !important;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    justify-items: center;
  }
  .showcaseGrid img {
    width: 100% !important;
  }
  .footerBorder {
    position: absolute;
    right: 0%;
    width: 100% !important;
    display: block;
  }
  .placetostayHeader {
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 10px 0;
  }
  .placetostayHeader li {
    padding: 5px 0;
  }
  .tabNavlogo {
    width: 63% !important;
  }
  .showcaseMargin {
    margin: 20px !important;
  }
  .showcaseBorder {
    margin: 10px 0 !important;
  }
  .heroCenter {
    margin-bottom: 20px !important;
  }
  .footerReverse {
    width: 100% !important;
  }
  .heroFlex {
    margin-top: 60px;
  }
}

@media (max-width: 1345px) {
  .tabNav li {
    font-size: 14px !important;
  }
  .navbtnConnect {
    font-size: 12px;
    padding: 10px 15px;
    margin: 0 10px;
  }
  .tabNavlogo {
    width: 60%;
  }
  .showcaseGrid {
    display: grid;
grid-template-columns: 2fr 2fr !important;
justify-items: unset !important;
  }
  .showcaseMargin {
    margin: 0 20px ;
  }
  .showcaseBorder img {
    width: 100%;
  }
  .showcaseBorder {
    margin: 10px;
  }
  .heroFlex {
    display: block;
  }
  .heroCenter {
    justify-content: center;
    margin-bottom: 49px;
  }
  .metabnbBlock {
    display: block;
  }
  .metabnbWidth {
    width: 100%;
  }
  .metabnbWidth p {
    margin: 0;
  }
  .metabnbImg {
    width: 100% !important;
  }
  .footerReverse {
    flex-direction: column-reverse;
    width: 95%;
    margin: 0 0 0 20px;
  }
  .footerBottom {
    margin: auto;
  }
  .footerBottom2 img {
    margin: 40px 0 0 0;
    justify-content: center;
    align-items: center;
  }
  .footerBottom3 {
    padding: 0;
  }
}



.searchLabel {
  color: #fff;
  background: linear-gradient(90deg, #a02279 11.45%, #a02279 11.46%);
  border-radius: 0px 8px 8px 0px;
  padding: 17px 87px;
}

.filterBtn {
  border: 1px solid #b4b4b4;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}
.connectWallet {
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  background: #f8f9fa;
  border: 1px solid #cfd8dc;
  border-radius: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #000000 !important;
}
.modalH4 {
  border-top: 1px solid #000;
  padding: 40px 0 0;
  content: '';
  position: absolute;
  width: 100%;
  left: 0%;
  margin: 20px 0 40px;
}

.searchInput {
  background: rgba(247, 247, 247, 0.1);
  border: 1px solid #a3a3a3;
  border-radius: 8px 0px 0px 8px;
  font-family: 'Red Rose';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #b8b8b8;
  width: 45%;
  padding: 0 20px;
}

.searchInput:focus {
  outline: none;
  color: #000;
}

.showcaseGrid {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
  justify-items: center;
}
.showcaseBorder {
  padding: 10px 10px 0;
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  border: 1px solid #d7d7d7;
  border-radius: 15px;
  margin-bottom: 20px;
}

.menuMobile {
  background: linear-gradient(
    91.47deg,
    #dc3e88 18.25%,
    #b840ae 43.34%,
    #843fe8 78.18%
  );
  margin: 0 20px !important;
}
.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
